<html>

<head>
    Welcome!
</head>
<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

<body>
    <div class="row">
        <div class="column">
            <img src="static/tempo.jpg" alt="tempo" style="width:115%">
        </div>
        <div class="column">
            <img src="static/libro.png" alt="libro" style="width:100%">
        </div>
        <div class="column">
            <img src="static/calendario.jpg" alt="calendario " style="width:100%">
        </div>
    </div>



</body>







</html>