<form action="/data" method = "GET">
    <p>Name <input type="text" name="Name" required/></p>
    <p>Username <input type="text" name="Username" required/></p>
    <p>Password <input type="password" name="Password" required/></p>
    <p>Conferma_Password <input type="password" name="Conferma_Password" required/></p>
    <p>Sesso <input type = "radio" name = "Sex" value="M" />M <input type = "radio" name = "Sex" value="F" required/>F </p>
    <p><input type = "submit" value = "Submit" /></p>
</form>