<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frasi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">

</head>
<style>
    body {
        background-image: url("static/sfondo.jpg");
        background-size: cover;
    }
</style>

<body id="frasiCelebri">
    <div id="frase">{{frase}}
        <div id="autore">-{{autore}}</div>
    </div>
</body>

</html>